<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113484138-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113484138-1');
</script>

<meta property="og:title" content="Hi, I'm Dan :)" />
<meta property="og:site_name" content="dandabs">
<meta property="og:url" content="https://danielonline.net" />
<meta property="og:description" content="15 year old developer and aspiring polyglot; obsessed with Nordic countries." />
<meta name="theme-color" content="#636363">

<!-- Include this to make the og:image larger -->
<meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Daniel Adams</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Maven+Pro:wght@400;600&family=Nerko+One&display=swap" rel="stylesheet">  
    <script src="https://cdn.jsdelivr.net/gh/adactio/FitText.js@master/fittext.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><span id="navbartitle" class="nav-selected"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>

                
    <span class="navbar-text">
                <div class="navbar-collapse navbar-dark collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-selected" href="#top">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.danielonline.net">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/dandabsx">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/dandabs">GitHub</a>
                        </li>
                    </ul>
                </div>
    </span>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - OK3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        AOS.init();
    </script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
