body {
    font-family: 'Maven Pro', sans-serif;
    color: #ebebeb;
    background-color: #0a0a0a;
}

.nav-selected {
    color: #FFFFFF !important;
}

.navbar {
    background: none !important;
    text-transform: uppercase;
    font-weight: 600;
  }

section#top {
    height: calc(100vh);
    position: relative;
    top: -72px;
    z-index: -1;
}

.vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    font-weight: 400;
    letter-spacing: 35px;
    padding-left: 35px;
    text-align: center;
}

.subtitle {
    font-weight: 400;
    color: rgba(255,255,255,.5);
}
