@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="top">

<div class="text-center vertical"
     data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="100"
     data-aos-offset="0">
    <h1 class="display-4 title" id="title">DANIEL ADAMS</h1>
    <p class="subtitle" id="sub"></p>
</div>

</section>


<section id="intro">

  <div class="row">

    <div class="col-lg-4 col-md-12" id="introimg">

    </div>

    <div class="col-lg-8 col-md-12" id="introcontent" data-aos="zoom-out">

<p class="sectiontitle">INTRODUCTION</p>
<h4 class="sectiondesc">Hi, I'm Dan.</h4>
<p class="sectioncontent">I'm a 15 year old from Country Antrim, in Northern Ireland.</p>
<p class="sectioncontent">I'm currently in my GCSE stage of British secondary education, where I'm taking exam classes in Business & Communication Studies, Digital Technology, Further Mathematics and Geography.</p>
<p class="sectioncontent">In the near future I hope to continue my education journey through A-levels, and possibly studying at university in either Finland or Norway - where I want to immigrate to when I'm an adult.</p>
<p class="sectioncontent">Since creating my first basic HTML website at age 7, I've been dedicated to improving my skills with developing websites, apps, APIs and pretty much anything that interests me - nothing is too big of a challenge to even try!<p>

  <img src="/img/1711.jpg" id="introimg2">

        </div>

      </div>

</section>


<section id="languages">

  <div class="row">

    <div class="col-lg-8 col-md-12" id="languagescontent" data-aos="zoom-out">

<p class="sectiontitle">INTERESTS</p>
<h4 class="sectiondesc">Languages, Kielet, Språk.</h4>
<p class="sectioncontent">In 2015, I began to learn my first non-English language: Icelandic.</p>
<p class="sectioncontent">Since then, especially leading into 2019, I've attempted to learn many languages from countries all around the world, especially the Nordic region and western Europe.</p>
<p class="sectioncontent">As of December 2020, I'm conversational in Norwegian (meaning I can understand basic Swedish and Danish!) and I'm primarily focusing on Finnish. In the background though, I'm slowly progressing on Japanese and I have my eye set on Lithuanian next.</p>
<p class="sectioncontent">My childhood spent playing Minecraft or Roblox online with strangers from across the globe has hugely contributed to my love and great interest in many cultures, countries, and their languages.<p>

  <img src="/img/0718.jpg" id="languagesimg2">

        </div>

            <div class="col-lg-4 col-md-12" id="languagesimg">

    </div>

      </div>

</section>


<section id="graphy">

  <div class="row">

    <div class="col-lg-4 col-md-12" id="graphyimg">

    </div>

    <div class="col-lg-8 col-md-12" id="graphycontent" data-aos="zoom-out">

<p class="sectiontitle">INTERESTS</p>
<h4 class="sectiondesc">Videography & photography.</h4>
<p class="sectioncontent">Ever since 2014, I've been creating YouTube videos for <a href="https://youtube.com/dandabsMC">my channel</a>.</p>
<p class="sectioncontent">This love of directing, editing and scriptwriting for videos and productions has stuck with me ever since. Throughout the years, I've been tasked with the production of many professional videography projects; each of these winning a total of almost £1000 through competitions.</p>
<p class="sectioncontent">With the implementation of very high quality point-and-shoot cameras in iPhones, I've been able to really improve my photography skillset and take some phenomenal photos - something that just wouldn't have been possible a few years ago.</p>

  <img src="/img/3205.jpg" id="graphyimg2">

        </div>

      </div>

    </section>