@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="top">

<div class="text-center vertical">
    <h1 class="display-4 title" id="title">DANIEL ADAMS</h1>
    <p class="subtitle" id="sub"></p>
</div>

</section>


<>