@page
@model PortfolioModel
@{
  ViewData["Title"] = "Portfolio";
}

<section id="top">

  <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0">
    <h1 class="display-4 title" id="title">PORTFOLIO</h1>
    <p class="subtitle" id="sub"></p>
  </div>

</section>
