@page
@model PortfolioModel
@{
  ViewData["Title"] = "Portfolio";
}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113484138-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113484138-1');
</script>

<meta property="og:title" content="One More Crossing" />
<meta property="og:site_name" content="Helsinki Cruises">
<meta property="og:url" content="https://omc.dandabs.fi" />
<meta property="og:description" content="Two boys' inspiration tale of dedication, drama and devoted followers. Coming 2.10." />
<meta name="theme-color" content="#b00000">
<meta property=”og:image” content=”https://i.imgur.com/Ot5qCd7.png” />

<!-- Include this to make the og:image larger -->
<meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HC: One More Crossing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/omc.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Maven+Pro:wght@400;600&family=Nerko+One&display=swap" rel="stylesheet">  
    <script src="https://cdn.jsdelivr.net/gh/adactio/FitText.js@master/fittext.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <div class="container">

<section id="top">

  <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0">
    <h1 class="display-4 title" id="title">ONE MORE CROSSING</h1>
    <p class="subtitle" id="sub"></p>
  </div>

</section>

    </div>

    <footer class="footer text-muted">
        <div class="container">
            <!--&copy; 2021 - All rights reserved to Valkistic and dandabs.</a>-->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

    <script src="~/js/omc.js" asp-append-version="true"></script>

    <script>
        AOS.init();
    </script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
